:root{
    --primary: #2288EE;
    --primary-light: #66AAFF;
    --secondary: #bbaa11;
    --secondary-light: #FFDD00;
    --accent: white;
    --neutral: #333333;
    --neutral-dark: black;
}

html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--neutral);
    color: var(--accent);
}

a:hover{
    opacity: 0.8;
}

.error{
    color: red;
    width: fit-content;
    padding: 0.25rem;
    background-color: var(--neutral);
}

form{
    
    border-radius: 0.5rem;
    border: 2px solid var(--secondary-light);
    padding: 1rem;
    
    h2{
        display: flex;
        justify-content: center;
        padding: 0rem 1rem;
        text-decoration: underline;
    }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;
    }

    label{
        display: inline-flex;
        flex-direction: row;
        width: 6rem; 
    }

    select{
        width: 10rem;
        overflow:auto;
    }
    
    .buttons{
        display: flex;
        justify-content: space-evenly;
    }
    
    button{
        border-radius: 0.5rem;
        padding:0.5rem
    }

    .x-btn{
        border-radius: 1rem;
        height: 2rem;
        width: 2rem;
        background-color: var(--secondary-light);
    }

    .error{
        padding: 0.25rem;
        width:fit-content
    }
}